.card-container {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
  height: auto;
  font-family: 'Pretendard Variable';
  background-color: var(--post-item-background-color);
  border: 1px solid var(--post-item-border-color);
  color: var(--post-item-text-color);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}
.card-top {
  display: flex;
  flex-direction: row;
  height: 63px;
  align-items: center;
  gap: 15px;
  border-bottom: 1px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.profile-image-box {
  width: 36px;
  height: 36px;
  margin-left: 15px;
  cursor: pointer;
}

.profile-image {
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}
.default-profile-image {
  background-image: var(--default-profile-image);
  border-radius: 50% 50%;
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}
.default-profile-image:hover {
  background-image: var(--default-profile-image-hover);
}
.user-nickname {
  font-size: 20px;
  cursor: pointer;
}
.create-at {
  font-size: 15px;
  margin-left: 50px;
}
.card-main {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.stack-tag-box {
  display: flex;
  align-items: center;
  height: 61px;
}
.stack-tag {
  padding-left: 5px;
  padding-right: 8px; /* 태그들 사이에 여백 추가 */
  border-radius: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
}
/* 스타일 추가 부분 */
.stack-tag.react {
  background-color: #61dafb;
  color: white;
  font-weight: bold;
}

.stack-tag.vue {
  background-color: #42b883;
  color: white;
  font-weight: bold;
}

.stack-tag.angular {
  background-color: #dd1b16;
  color: white;
  font-weight: bold;
}

.stack-tag.sass {
  background-color: #cc6699;
  color: white;
  font-weight: bold;
}

.stack-tag.js {
  background-color: #f7df1e;
  color: black;
  font-weight: bold;
}

.stack-tag.css {
  background-color: #2965f1;
  color: white;
  font-weight: bold;
}

.stack-tag.html {
  background-color: #e34f26;
  color: white;
  font-weight: bold;
}

.stack-tag.java {
  background-color: #007396;
  color: white;
  font-weight: bold;
}

.stack-tag.php {
  background-color: #8993be;
  color: white;
  font-weight: bold;
}

.stack-tag.docker {
  background-color: #2496ed;
  color: white;
  font-weight: bold;
}

.stack-tag.aws {
  background-color: #ff9900;
  color: white;
  font-weight: bold;
}

.stack-tag.cloud {
  background-color: #2196f3;
  color: white;
  font-weight: bold;
}

.stack-tag.github {
  background-color: #333;
  color: white;
  font-weight: bold;
}

.stack-tag.bootstrap {
  background-color: #563d7c;
  color: white;
  font-weight: bold;
}

.stack-tag.npm {
  background-color: #cb3837;
  color: white;
  font-weight: bold;
}

.stack-tag.yarn {
  background-color: #2c8ebb;
  color: white;
  font-weight: bold;
}

.stack-tag.grunt {
  background-color: #f50057;
  color: white;
  font-weight: bold;
}

.stack-tag.gulp {
  background-color: #cf4647;
  color: white;
  font-weight: bold;
}

.stack-tag.figma {
  background-color: #f24e1e;
  color: white;
  font-weight: bold;
}

.stack-tag.sketch {
  background-color: #f7b500;
  color: white;
  font-weight: bold;
}

.card-title {
  display: flex;
  padding-left: 15px;
  height: 30px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}
.card-content {
  display: flex;
  padding-left: 15px;
  height: auto;
  align-items: center;
  font-size: 16px;
  margin-bottom: 15px;
  white-space: pre-wrap;
}
.card-image {
  margin-top: 20px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-image {
  width: auto;
  min-width: 35%;
  object-fit: cover;
  border-radius: 8px;
}

.card-bottom {
  margin-left: 15px;
  display: flex;
  gap: 60px;
}

.card-like-box {
  display: flex;
  height: 45px;
  align-items: center;
  gap: 10px;
}
.card-like-icon {
  width: 32px;
  height: 32px;
  background-image: var(--post-item-Heart-icon);
  cursor: pointer;
}
.card-like-icon-active {
  width: 32px;
  height: 32px;
  background-image: var(--post-item-Heart-icon-active);
  cursor: pointer;
}
.card-like-icon:hover {
  background-image: url('./../../../assets/HeartIcon_Hover.png');
}
.card-comment-box {
  display: flex;
  height: 45px;
  align-items: center;
  gap: 10px;
}
.card-comment-icon {
  width: 32px;
  height: 32px;
  background-image: var(--post-item-Comment-icon);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.card-comment-icon:hover {
  background-image: url('./../../../assets/CommentIcon_Hover.png');
}
.card-save-box {
  display: flex;
  height: 45px;
  align-items: center;
  gap: 10px;
}
.card-save-icon {
  width: 32px;
  height: 32px;
  background-image: var(--post-item-Save-icon);
  cursor: pointer;
}
.card-save-icon:hover {
  background-image: url('./../../../assets/SaveIcon_Hover.png');
}
.code {
  background-color: rgba(240, 114, 198, 0.637);
}
.paragraph {
  white-space: pre-line; /* 자동 줄바꿈 처리 */
}
