.navBar-container {
  width: 100%; /* 부모 요소의 너비를 따름 */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 100%;
  background-color: var(--nav-background-color);
  padding-left: 180px;
  font-family: 'Pretendard Variable';
}
.Home-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: 56px;
  padding: 10px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  border: none;
  font-size: 20px;
  cursor: pointer;
  gap: 15px;
  border-radius: 22px;
  font-family: 'Pretendard Variable';
}

.Home-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .Home-Icon {
    background-image: var(--nav-bar-Home-icon-Hover);
  }
}
.Alarm-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: 56px;
  padding: 10px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  border: none;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  border-radius: 22px;
  cursor: pointer;
  gap: 15px;
}
.Alarm-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .Heart-Icon {
    background-image: var(--nav-bar-Alarm-icon-Hover);
  }
}
.Post-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 140px;
  height: 56px;
  padding: 10px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  border: none;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  gap: 15px;
  cursor: pointer;
  border-radius: 22px;
}
.Post-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .Add-Icon {
    background-image: var(--nav-bar-Add-icon-Hover);
  }
}
.Save-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 22px;
  width: 140px;
  height: 56px;
  padding: 10px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  border: none;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  cursor: pointer;
  gap: 15px;
}
.Save-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .Save-Icon {
    background-image: var(--nav-bar-Save-icon-Hover);
  }
}
.Issue-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 22px;
  width: 140px;
  height: 56px;
  padding: 10px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  border: none;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  cursor: pointer;
  gap: 15px;
}
.Issue-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .Issue-Icon {
    background-image: var(--nav-bar-Issue-icon-Hover);
  }
}

.spacer {
  height: 280px; /* 원하는 여백 높이 설정 */
  width: 100%;
  pointer-events: none; /* 클릭 차단 */
}
.See-More-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  width: 140px;
  height: 56px;
  padding: 10px;
  border-radius: 22px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  border: none;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  cursor: pointer;
}
.See-More-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .More-Icon {
    background-image: var(--nav-bar-More-icon-Hover);
  }
}

.popup-container {
  position: absolute;
  bottom: 200px;
  left: 180;
  width: 150px;
  background-color: var(--nav-bar-popup-box-background-color);
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 10px;
  z-index: 1000;
}

.option-button {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  color: red;
}

.option-button:hover {
  background-color: var(--nav-bar-popup-box-hover-background-color);
}
.logout-button {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
}
.logout-button:hover {
  background-color: var(--nav-bar-popup-box-hover-background-color);
}

.mode-button {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
}

.mode-button:hover {
  background-color: var(--nav-bar-popup-box-hover-background-color);
}
.Profile-Button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 180px;
  height: 56px;
  padding: 10px;
  background-color: var(--nav-bar-button-background-color);
  color: var(--nav-bar-button-text-color);
  gap: 15px;
  border-radius: 22px;
  border: none;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  cursor: pointer;
}
.user-nickname {
  width: 75px;
  font-family: 'Pretendard Variable';
  font-size: 20px;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
.guest-Text {
  width: auto;
  font-family: 'Pretendard Variable';
  font-size: 20px;
}

.Profile-Button:hover {
  background-color: var(--nav-bar-button-hover-background-color);
  color: var(--nav-bar-button-hover-text-color);
  .Guest-Icon {
    background-image: var(--nav-bar-Guest-icon-Hover);
  }
}

.Home-Icon {
  background-image: var(--nav-bar-Home-icon);
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Heart-Icon {
  background-image: var(--nav-bar-Alarm-icon);
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Add-Icon {
  background-image: var(--nav-bar-Add-icon);
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Save-Icon {
  background-image: var(--nav-bar-Save-icon);
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Issue-Icon {
  background-image: var(--nav-bar-Issue-icon);
  width: 32px;
  height: 32px;
  background-size: cover;
}
.More-Icon {
  background-image: var(--nav-bar-More-icon);
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Guest-Icon {
  background-image: var(--nav-bar-Guest-icon);
  width: 48px;
  height: 48px;
  background-size: cover;
}
.Moon-Icon {
  background-image: url('./../../assets/MoonIcon_Dark.png');
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Sun-Icon {
  background-image: url('./../../assets/SunIcon_Dark.png');
  width: 32px;
  height: 32px;
  background-size: cover;
}
.Option-Icon {
  background-image: url('./../../assets/OptionIcon_Dark.png');
  width: 32px;
  height: 32px;
  background-size: cover;
}
.logout-Icon {
  background-image: url('./../../assets/LogoutIcon_Dark.png');
  width: 32px;
  height: 32px;
  background-size: cover;
}
.active {
  background-color: var(--nav-active-button-background-color);
  color: var(--nav-active-button-text-color);
}
.active-icon {
  background-image: var(--nav-bar-active-Home-icon);
}
.Heart-Icon {
  position: relative;
  /* 기존 Heart-Icon 스타일 */
}

.Heart-Icon.has-alarm::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: red;
}
.Heart-Icon.active-icon {
  background-image: var(--nav-bar-active-Alarm-icon);
}
.Add-Icon.active-icon {
  background-image: var(--nav-bar-active-Add-icon);
}
.Save-Icon.active-icon {
  background-image: var(--nav-bar-active-Save-icon);
}
.Issue-Icon.active-icon {
  background-image: var(--nav-bar-active-Issue-icon);
}
.alarm-wrapper {
  /* position: relative; */
}
.alarm-popup-container {
  position: absolute;
  top: 125px; /* 버튼 아래로 배치 */
  left: 10px; /* 버튼과 정렬 */
  width: 300px; /* 팝업 너비 */
  background-color: var(--nav-bar-alarm-popup-box-background-color);
  color: var(--nav-bar-alarm-popup-box-text-color);
  border: 1px solid var(--nav-bar-alarm-popup-box-border-color);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
}
.alarm-popup-Top {
  display: flex;
  padding: 5px;
  flex-direction: row;
  gap: 12px;
  padding-bottom: 10px;
}

.alarm-popup-Top-User-Profile-Image {
  width: 36px;
  height: 36px;
  background-size: contain;
  border-radius: 50%;
  background-position: center;
}
.default-icon {
  width: 36px;
  height: 36px;
  background-size: contain;
  border-radius: 50%;
  background-position: center;
  background-image: var(--nav-bar-Guest-icon);
}
.alarm-popup-Top-User-More {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}

.alarm-popup-Top-User-Nickname {
  width: 100px;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  color: var(--nav-bar-alarm-popup-box-user-nickname-text-color);
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
.alarm-popup-Top-User-Alarm-Count {
  display: flex;
  flex-direction: row;

  font-size: 12px;
  align-items: center;
  color: var(--nav-bar-alarm-popup-box-user-Alarm-Count-text-color);
  gap: 10px;
}
.alarm-popup-Top-More {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.alarm-All-Read-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent; /* 배경색 제거 */
  background-image: var(--nav-bar-alarm-all-read-icon);
}
.alarm-All-Read-button:hover {
  background-image: var(--nav-bar-alarm-all-read-icon-Hover);
}
.alarm-All-Read-button.active {
  background-image: var(--nav-bar-alarm-all-read-icon-Active);
}
.alarm-All-Read-button.active:hover {
  background-image: var(--nav-bar-alarm-all-read-icon-Hover);
}
.alarm-All-Delete-button {
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: transparent; /* 배경색 제거 */
  background-image: var(--nav-bar-alarm-all-delete-icon);
}
.alarm-All-Delete-button:hover {
  background-image: var(--nav-bar-alarm-all-delete-icon-Hover);
}
.alarm-popup-Bottom {
  display: flex;
  flex-direction: column;
  /* height: 450px; */
}
.alarm-popup-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: auto;
  max-height: 350px;
  overflow-y: scroll;
}
/* 스크롤바 전체 */
.alarm-popup-list::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 */
  background-color: var(
    --nav-bar-alarm-popup-box-background-color
  ); /* 스크롤바의 배경 색 */
}
/* 스크롤바의 트랙 (스크롤바가 이동하는 영역) */
.alarm-popup-list::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 배경 색 */
  border-radius: 10px; /* 트랙의 둥근 모서리 */
}

/* 스크롤바 슬라이더 (실제로 스크롤을 움직이는 부분) */
.alarm-popup-list::-webkit-scrollbar-thumb {
  background-color: #888; /* 슬라이더 색 */
  border-radius: 10px; /* 슬라이더의 둥근 모서리 */
  border: 2px solid #f1f1f1; /* 슬라이더와 트랙 사이의 여백 */
}

/* 마우스를 올렸을 때 슬라이더 색을 변경 */
.alarm-popup-list::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* 슬라이더가 호버됐을 때 색 변경 */
}

.alarm-popup-Item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--nav-bar-alarm-popup-box-item-background-color);
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.alarm-popup-Item:hover {
  background-color: var(--nav-bar-alarm-popup-box-item-hover-background-color);
}

.alarm-popup-Item-Profile {
  width: 36px;
  height: 36px;
  background-size: cover;
  border-radius: 50%;
  background-position: 50%;
  object-fit: cover;
}
.alarm-popup-default-Profile {
  background-image: var(--nav-bar-Guest-icon);
  width: 26px;
  height: 26px;
  background-size: cover;
  border-radius: 50%;
  background-position: 50%;
}

.alarm-popup-Item-Content {
  display: flex;
  gap: 4px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.alarm-popup-Item-Text {
  font-size: 12px;
}
.alarm-popup-Item-Nickname {
  font-size: 14px;
  font-weight: bolder;
  width: 100px;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
  overflow: hidden; /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis; /* 넘치는 텍스트를 ...으로 표시 */
}
/* 읽음 처리된 알람에 대한 스타일 */
.read {
  text-decoration: line-through; /* 읽음 알람은 텍스트에 취소선을 추가 */
}

.alarm-popup-Item-Time {
  font-size: 10px;

  align-self: flex-end;
}
.alarm-popup-Item-button {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.alarm-popup-Item-Read-button {
  width: 16px;
  height: 16px;
  background-image: var(--nav-bar-alarm-check-icon);
  cursor: pointer;
}
.alarm-popup-Item-Read-button:hover {
  background-image: var(--nav-bar-alarm-check-icon-Hover);
}
.alarm-popup-Item-Read-button.active-icon {
  background-image: var(--nav-bar-alarm-check-icon-Active);
}
.alarm-popup-Item-Delete-button {
  width: 16px;
  height: 16px;
  background-image: var(--nav-bar-alarm-delete-icon);
  cursor: pointer;
}
.alarm-popup-Item-Delete-button:hover {
  background-image: var(--nav-bar-alarm-delete-icon-Hover);
}
.user-profile-image {
  width: 48px;
  height: 48px;
  background-size: cover;
  border-radius: 50%;
  background-position: 50%;
}
