.reply-container {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  gap: 10px;
  width: 1010px;
  margin-top: 10px;
}
.user-profile-box {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.user-profile-image {
  width: 28px;
  height: 28px;
  background-size: cover;
  border-radius: 50%;
}
.user-profile-nickname {
  font-size: 14px;
}

.reply-item-list-container {
  display: flex;
}
.reply-item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reply-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.reply-user-profile-image {
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-size: cover;
  border-radius: 50%;
}
.reply-user-nickname {
  cursor: pointer;
  font-size: 14px;
}
.reply-text {
  font-size: 14px;
}
.reply-write-time {
  font-size: 14px;
}
.default-profile-image {
  background-image: var(--default-profile-image);
  border-radius: 50% 50%;
  width: 28px;
  height: 28px;

  background-position: 50% 50%;
  background-size: 100% 100%;
}
