.reply-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 1010px;
  margin-top: 10px;
}
.user-profile-box {
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.user-profile-image {
  width: 28px;
  height: 28px;
  background-size: cover;
  border-radius: 50%;
}
.user-profile-nickname {
  font-size: 14px;
}

.reply-item-list-container {
  display: flex;
}
.reply-item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.reply-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.reply-user-profile-image {
  cursor: pointer;
  width: 28px;
  height: 28px;
  background-size: cover;
  border-radius: 50%;
}
.reply-user-nickname {
  cursor: pointer;
  font-size: 14px;
}
.reply-text {
  font-size: 14px;
}
.edit-mode {
  display: flex;
  gap: 10px;
}

.edit-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.save-button,
.cancel-button {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.save-button {
  background-color: #4caf50;
  color: white;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}
.reply-EditOrDelete {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 14px;
  color: var(--comment-edit-text-color);
}

.reply-Edit,
.reply-Delete {
  color: var(--comment-edit-text-color);
  cursor: pointer;
}
.reply-Edit:hover,
.reply-Delete:hover {
  color: var(--comment-edit-text-color-hover);
}
.reply-write-time {
  font-size: 14px;
}
.default-profile-image {
  background-image: var(--default-profile-image);
  border-radius: 50% 50%;
  width: 28px;
  height: 28px;

  background-position: 50% 50%;
  background-size: 100% 100%;
}
