.mypage-Container {
  display: grid;
  grid-template-columns: 400px 1fr 320px;
  gap: 20px;
  width: 100%;
  max-width: 1920px; /* 전체 너비 제한 */
  margin: 0 auto;
  padding-top: 157px;
  height: auto;
  background-color: var(--main-background-color);
  font-family: 'Pretendard Variable';
}
.navbar {
  position: sticky;
  top: 157px;
  width: 170px; /* Navbar 너비 고정 */
  align-self: start; /* 스크롤 시 시작 위치에 고정 */
  height: calc(100vh - 157px);
}

.user-Contents {
  display: flex;
  flex-direction: column;
  color: var(--mypage-text-color);
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.sidebar {
  height: auto;
}

.user-Info {
  width: 60rem;
  /* height: 12rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 2rem 0rem;
}
.user-profile-image {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  background-size: cover;
  border: 0.5px solid gray;
  border-radius: 50%;
  background-position: 50%;
  margin-right: 1rem;
}
.user-Image {
  width: 8rem;
  height: 8rem;
  background-image: var(--nav-bar-Guest-icon);
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 0.5px solid gray;
  border-radius: 50%;

  margin-right: 1rem;
}

.user-Data-Wrapper {
  width: 25rem;
  /* height: 8rem; */
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard Variable';
  text-align: end;
  align-items: end;
}

.user-Data {
  width: 10rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard Variable';
  text-align: end;

  margin-left: 1rem;
}

.user-Posts {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: space-between;
}
.user-Followers {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: space-between;
}
.user-Following {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: end;
  justify-content: space-between;
}
.post-Count {
  width: 4rem;
}
.follow-Count,
.following-Count {
  width: 4rem;
  cursor: pointer;
}
.user-Edit {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.user-setting {
  width: 1.125rem;
  height: 1.25rem;
  background-image: var(--mypage-image-setting);
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: transparent; /* 배경 투명 설정 */
  padding: 0rem;
}

.edit-Button {
  width: 5rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--mypage-Edit-color);
  cursor: pointer;
}
.user-Name {
  font-size: 1.25rem;
}

.tab-Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-contnet: space-between;
}
.postContentWrapper {
  width: 60rem;
}
.no-records {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.paginationWrapper {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.paginationButton {
  padding: 5px 10px;
  border: none;
  color: var(--mypage-pagination-text-color);
  background-color: var(--main-background-color);
  cursor: pointer;
}

.paginationButtonActive {
  border: none;
  border-bottom: 2px solid var(--mypage-text-color);
  padding: 5px 10px;
  background-color: var(--main-background-color);
  color: var(--mypage-pagination-text-color-active);
  cursor: pointer;
}
/* 모달 배경 */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* 다른 요소보다 위에 표시 */
}

/* 모달 창 */
.modal-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding: 30px;
  background-color: var(--mypage-edit-modal-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: var(--mypage-edit-modal-text-color);
}
.modal-nickname,
.modal-pw,
.modal-age,
.modal-exp,
.modal-field {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--mypage-edit-modal-text-color);
}

.modal-nickname span,
.modal-pw span,
.modal-age span,
.modal-exp span,
.modal-field span {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 1rem;
  color: var(--mypage-edit-modal-text-color);
}
.modal-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: var(--mypage-edit-modal-text-color);
}

.modal-input {
  width: 55%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.modal-button.save {
  background-color: #4caf50;
  color: white;
}

.modal-button.cancel {
  background-color: #f44336;
  color: white;
}
.follower-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.follower-modal-content {
  background: var(--mypage-follower-modal-background-color);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  max-height: 500px;
  overflow-y: auto;
  color: var(--mypage-follower-modal-text-color);
  gap: 10px;
  text-align: center;
}

.follower-item {
  color: var(--mypage-follower-modal-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px 0;
}

.follower-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.follower-nickname {
  color: var(--mypage-follower-modal-text-color);
  font-size: 18px;
}
.close-button {
  margin-top: 10px;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-button:hover {
  background: #0056b3;
}
.following-cancel-button {
  background-color: #ff4d4d;
  color: white;
  padding: 8px 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s ease;
}

.following-cancel-button:hover {
  background-color: #cc0000;
}
.Guest-Icon {
  width: 32px;
  height: 32px;
  background-image: var(--nav-bar-Guest-icon);
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
